@mixin hours-guides ($top: 0, $height: auto) {
  &::after {
    content: "";
    position: absolute;
    top: $top;
    right: 0;
    bottom: 0;
    left: 0;
    height: $height;
    background: repeating-linear-gradient(to left,
      currentColor, currentColor 1px,
      transparent 0, transparent calc(100% / 15)
      );
    color: rgba(19,100,205,0.10);
    pointer-events: none;
  }
}
