<div class="days-nav">
  <nav class="scroll-nav days-nav__scroll-nav" data-target="shedule__day">
    <div class="scroll-nav__content">
      <ul class="scroll-nav__items">
        <li class="scroll-nav__item">
          <button class="scroll-nav__button calendar-control">
            14 дек &bull; Сегодня
          </button>
        </li>
        <li class="scroll-nav__item">
          <button class="scroll-nav__button calendar-control">
            15 дек &bull; Завтра
          </button>
        </li>
        <li class="scroll-nav__item">
          <button class="scroll-nav__button calendar-control">
            16 дек &bull; Среда
          </button>
        </li>
        <li class="scroll-nav__item">
          <button class="scroll-nav__button calendar-control">
            17 дек &bull; Четверг
          </button>
        </li>
        <li class="scroll-nav__item">
          <button class="scroll-nav__button calendar-control">
            18 дек &bull; Пятница
          </button>
         </li>
      </ul>
    </div>

    <button class="scroll-nav__control scroll-nav__control--left">
      <svg class="scroll-nav__control-icon">
        <use xlink:href="#arrow-left"/>
      </svg>
    </button>
    <button class="scroll-nav__control scroll-nav__control--right">
      <svg class="scroll-nav__control-icon">
        <use xlink:href="#arrow-right"/>
      </svg>
    </button>
  </nav>

  {{> ../components/_popup--calendar.html }}
</div>
