<ul class="calendar__list">
  <li class="calendar__day">
    <button class="calendar__button calendar__button--past" type="button">1</button>
  </li>
  <li class="calendar__day">
    <button class="calendar__button calendar__button--past" type="button">2</button>
  </li>
  <li class="calendar__day">
    <button class="calendar__button calendar__button--past" type="button">3</button>
  </li>
  <li class="calendar__day">
    <button class="calendar__button calendar__button--past" type="button">4</button>
  </li>
  <li class="calendar__day">
    <button class="calendar__button calendar__button--past" type="button">5</button>
  </li>
  <li class="calendar__day">
    <button class="calendar__button calendar__button--past" type="button">6</button>
  </li>
  <li class="calendar__day">
    <button class="calendar__button calendar__button--past" type="button">7</button>
  </li>
  <li class="calendar__day">
    <button class="calendar__button calendar__button--past" type="button">8</button>
  </li>
  <li class="calendar__day">
    <button class="calendar__button calendar__button--past" type="button">9</button>
  </li>
  <li class="calendar__day">
    <button class="calendar__button calendar__button--past" type="button">10</button>
  </li>
  <li class="calendar__day">
    <button class="calendar__button calendar__button--past" type="button">11</button>
  </li>
  <li class="calendar__day">
    <button class="calendar__button calendar__button--past" type="button">12</button>
  </li>
  <li class="calendar__day">
    <button class="calendar__button calendar__button--past" type="button">13</button>
  </li>
  <li class="calendar__day">
    <button class="calendar__button calendar__button--past" type="button">14</button>
  </li>
  <li class="calendar__day">
    <button class="calendar__button calendar__button--today" type="button" title="Сегодня">15</button>
  </li>
  <li class="calendar__day">
    <button class="calendar__button" type="button">16</button>
  </li>
  <li class="calendar__day">
    <button class="calendar__button" type="button">17</button>
  </li>
  <li class="calendar__day">
    <button class="calendar__button calendar__button--selected" type="button" title="Выбранная дата">18</button>
  </li>
  <li class="calendar__day">
    <button class="calendar__button" type="button">19</button>
  </li>
  <li class="calendar__day">
    <button class="calendar__button" type="button">20</button>
  </li>
  <li class="calendar__day">
    <button class="calendar__button" type="button">21</button>
  </li>
  <li class="calendar__day">
    <button class="calendar__button" type="button">22</button>
  </li>
  <li class="calendar__day">
    <button class="calendar__button" type="button">23</button>
  </li>
  <li class="calendar__day">
    <button class="calendar__button" type="button">24</button>
  </li>
  <li class="calendar__day">
    <button class="calendar__button" type="button">25</button>
  </li>
  <li class="calendar__day">
    <button class="calendar__button" type="button">26</button>
  </li>
  <li class="calendar__day">
    <button class="calendar__button" type="button">27</button>
  </li>
  <li class="calendar__day">
    <button class="calendar__button" type="button">28</button>
  </li>
  <li class="calendar__day">
    <button class="calendar__button" type="button">29</button>
  </li>
  <li class="calendar__day">
    <button class="calendar__button" type="button">30</button>
  </li>
  <li class="calendar__day">
    <button class="calendar__button" type="button">31</button>
  </li>
</ul>
