<div class="popup popup--users">
  <div class="popup__content">
    <ul class="select-users__list">
      <li class="select-users__item">
        <input class="select-users__input select-users__input--checkbox visuallyhidden" type="checkbox" name="users" id="user-1">
        <label class="select-users__label" for="user-1">
          <span class="user">
            <img class="user__pic user__pic--tiny" alt="" src="./assets/img/userpic.jpg">
            Лекс Лютер <span class="user__floor">7 этаж</span>
          </span>
        </label>
      </li>

      <li class="select-users__item">
        <input class="select-users__input select-users__input--checkbox visuallyhidden" type="checkbox" name="users" id="user-2">
        <label class="select-users__label" for="user-2">
          <span class="user">
            <img class="user__pic user__pic--tiny" alt="" src="./assets/img/userpic2.jpg">
            Томас Андерсон <span class="user__floor">2 этаж</span>
          </span>
        </label>
      </li>

      <li class="select-users__item">
        <input class="select-users__input select-users__input--checkbox visuallyhidden" type="checkbox" name="users" id="user-3">
        <label class="select-users__label" for="user-3">
          <span class="user">
            <img class="user__pic user__pic--tiny" alt="" src="./assets/img/userpic3.jpg">
            Дарт Вейдер <span class="user__floor">1 этаж</span>
          </span>
        </label>
      </li>
    </ul>
  </div>
</div>
