{{> ../components/_floor.html }}

<div class="rooms">
  <div class="room room--1 room--disabled" >
    <div class="room__inner">
      <h4 class="room__title">Ржавый Фред</h4>
      <div class="room__capacity">3 &ndash; 6 человек</div>
    </div>
  </div>

  <div class="room room--2">
    <div class="room__inner">
      <h4 class="room__title">Прачечная</h4>
      <div class="room__capacity">до 10 человек</div>
    </div>
  </div>

  <div class="room room--3">
    <div class="room__inner">
      <h4 class="room__title">Жёлтый дом</h4>
      <div class="room__capacity">до 10 человек</div>
    </div>
  </div>

  <div class="room room--4 room--disabled">
    <div class="room__inner">
      <h4 class="room__title">Оранжевый тюльпан</h4>
      <div class="room__capacity">до 10 человек</div>
    </div>
  </div>
</div>
