<div class="select-room">
  <ul class="select-room__items">
    <li class="select-room__item">
      <input class="select-room__input select-room__input--radio visuallyhidden" type="radio" name="rooms" id="room-1" value="1">
      <label class="select-room__label" for="room-1">
        <time class="select-room__time">16:00—16:30</time>
        <span class="select-room__room">Готем · 4 этаж</span>
      </label>

      <buton class="close-control select-room__close-control">
        <svg class="close-control__icon">
          <use xlink:href="#close"/>
        </svg>
      </buton>
    </li>
    <li class="select-room__item">
      <input class="select-room__input select-room__input--radio visuallyhidden" type="radio" name="rooms" id="room-2" value="2">
      <label class="select-room__label" for="room-2">
        <time class="select-room__time">16:00—16:30</time>
        <span class="select-room__room">Поле непаханное · 4 этаж</span>
      </label>

      <buton class="close-control select-room__close-control">
        <svg class="close-control__icon">
          <use xlink:href="#close"/>
        </svg>
      </buton>
    </li>
    <li class="select-room__item">
      <input class="select-room__input select-room__input--radio visuallyhidden" type="radio" name="rooms" id="room-3" value="3">
      <label class="select-room__label" for="room-3">
        <time class="select-room__time">16:00—16:30</time>
        <span class="select-room__room">Тёмная башня · 4 этаж</span>
      </label>

      <buton class="close-control select-room__close-control">
        <svg class="close-control__icon">
          <use xlink:href="#close"/>
        </svg>
      </buton>
    </li>
  </ul>
</div>
