<div class="select-users">
  <div class="select-users__input-wrapper">
    <input class="select-users__input" type="text" name="users" id="users" placeholder="Например, Тор Одинович">
    <button class="select-users__dropdown-control dropdown-control dropdown-control--arrow users-control" type="button">
      <svg class="dropdown-control__icon dropdown-control__icon--arrow">
        <use xlink:href="#arrow-top"/>
      </svg>
    </button>

    {{> ../components/_popup--users.html }}

  </div>

  <div class="select-users__results">
    <button class="select-users__result" type="button">
      <span class="user">
        <img class="user__pic user__pic--tiny" alt="" src="./assets/img/userpic.jpg">
        Лекс Лютер
      </span>

      <span class="close-control">
        <svg class="close-control__icon">
          <use xlink:href="#close"/>
        </svg>
      </span>
    </button>

    <button class="select-users__result" type="button">
      <span class="user">
        <img class="user__pic user__pic--tiny" alt="" src="./assets/img/userpic2.jpg">
        Томас Андерсон
      </span>

      <span class="close-control">
        <svg class="close-control__icon">
          <use xlink:href="#close"/>
        </svg>
      </span>
    </button>

    <button class="select-users__result" type="button">
      <span class="user">
        <img class="user__pic user__pic--tiny" alt="" src="./assets/img/userpic3.jpg">
        Дарт Вейдер
      </span>

      <span class="close-control">
        <svg class="close-control__icon">
          <use xlink:href="#close"/>
        </svg>
      </span>
    </button>
  </div>
</div>
