<div class="shedule">

  <div class="shedule__floors">
    {{> ../components/_rooms.html }}
    {{> ../components/_rooms.html }}
  </div>

  <div class="shedule__slots slots">

    {{> ../components/_hours-nav.html }}

    <div class="shedule__days">
      <div id="14-dec" class="shedule__day shedule__day--current shedule__day--14-dec">
        <div class="shedule__slots-floor">
          {{> ../components/_slots.html }}
        </div>
        <div class="shedule__slots-floor">
          {{> ../components/_slots.html }}
        </div>
      </div>

      <div id="15-dec" class="shedule__day shedule__day--15-dec">
        <div class="shedule__slots-floor">
          {{> ../components/_slots.html }}
        </div>
        <div class="shedule__slots-floor">
          {{> ../components/_slots.html }}
        </div>
      </div>

      <div id="16-dec" class="shedule__day shedule__day--16-dec">
        <div class="shedule__slots-floor">
          {{> ../components/_slots.html }}
        </div>
        <div class="shedule__slots-floor">
          {{> ../components/_slots.html }}
        </div>
      </div>

      <div id="17-dec" class="shedule__day shedule__day--17-dec">
        <div class="shedule__slots-floor">
          {{> ../components/_slots.html }}
        </div>
        <div class="shedule__slots-floor">
          {{> ../components/_slots.html }}
        </div>
      </div>

      <div id="18-dec" class="shedule__day shedule__day--18-dec">
        <div class="shedule__slots-floor">
          {{> ../components/_slots.html }}
        </div>
        <div class="shedule__slots-floor">
          {{> ../components/_slots.html }}
        </div>
      </div>
    </div>

    <div class="current-time">
      <span class="current-time__value">8:34</span>
    </div>


  </div>

</div>
