<ul class="slots__list" data-room-id="1">
  <li class="slot slot--has-event" style="width: 5%">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot">
    <a class="slot__button button button--blue" href="./create.html">
      <svg class="button__icon">
        <use xlink:href="#plus"/>
      </svg>
    </a>
  </li>
  <li class="slot slot--has-event" style="width: 3%">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot">
    <a class="slot__button button button--blue" href="./create.html">
      <svg class="button__icon">
        <use xlink:href="#plus"/>
      </svg>
    </a>
  </li>
  <li class="slot slot--has-event">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot">
    <a class="slot__button button button--blue" href="./create.html">
      <svg class="button__icon">
        <use xlink:href="#plus"/>
      </svg>
    </a>
  </li>
  <li class="slot slot--has-event" style="width: 12%">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot">
    <a class="slot__button button button--blue" href="./create.html">
      <svg class="button__icon">
        <use xlink:href="#plus"/>
      </svg>
    </a>
  </li>
  <li class="slot slot--has-event" style="width: 10%">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot">
    <a class="slot__button button button--blue" href="./create.html">
      <svg class="button__icon">
        <use xlink:href="#plus"/>
      </svg>
    </a>
  </li>
  <li class="slot slot--has-event">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot slot--has-event" style="width: 2%">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot slot--has-event">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot slot--has-event">
    <button class="slot__button button-show-event"></button>
  </li>
</ul>

<ul class="slots__list" data-room-id="2">
  <li class="slot slot--has-event">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot slot--has-event" style="width: 5%">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot">
    <a class="slot__button button button--blue" href="./create.html">
      <svg class="button__icon">
        <use xlink:href="#plus"/>
      </svg>
    </a>
  </li>
  <li class="slot slot--has-event" style="width: 10%">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot slot--has-event">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot">
    <a class="slot__button button button--blue" href="./create.html">
      <svg class="button__icon">
        <use xlink:href="#plus"/>
      </svg>
    </a>
  </li>
  <li class="slot slot--has-event" style="width: 2%">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot">
    <a class="slot__button button button--blue" href="./create.html">
      <svg class="button__icon">
        <use xlink:href="#plus"/>
      </svg>
    </a>
  </li>
  <li class="slot slot--has-event" style="width: 15%">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot">
    <a class="slot__button button button--blue" href="./create.html">
      <svg class="button__icon">
        <use xlink:href="#plus"/>
      </svg>
    </a>
  </li>
  <li class="slot slot--has-event" style="width: 10%">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot">
    <a class="slot__button button button--blue" href="./create.html">
      <svg class="button__icon">
        <use xlink:href="#plus"/>
      </svg>
    </a>
  </li>
  <li class="slot slot--has-event">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot slot--has-event">
    <button class="slot__button button-show-event"></button>
  </li>
</ul>

<ul class="slots__list" data-room-id="3">
  <li class="slot slot--has-event" style="width: 1%">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot">
    <a class="slot__button button button--blue" href="./create.html">
      <svg class="button__icon">
        <use xlink:href="#plus"/>
      </svg>
    </a>
  </li>
  <li class="slot slot--has-event">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot">
    <a class="slot__button button button--blue" href="./create.html">
      <svg class="button__icon">
        <use xlink:href="#plus"/>
      </svg>
    </a>
  </li>
  <li class="slot slot--has-event" style="width: 15%">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot">
    <a class="slot__button button button--blue" href="./create.html">
      <svg class="button__icon">
        <use xlink:href="#plus"/>
      </svg>
    </a>
  </li>
  <li class="slot slot--has-event" style="width: 10%">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot">
    <a class="slot__button button button--blue" href="./create.html">
      <svg class="button__icon">
        <use xlink:href="#plus"/>
      </svg>
    </a>
  </li>
  <li class="slot slot--has-event" style="width: 1%">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot slot--has-event" style="width: 3%">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot">
    <a class="slot__button button button--blue" href="./create.html">
      <svg class="button__icon">
        <use xlink:href="#plus"/>
      </svg>
    </a>
  </li>
  <li class="slot slot--has-event">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot">
    <a class="slot__button button button--blue" href="./create.html">
      <svg class="button__icon">
        <use xlink:href="#plus"/>
      </svg>
    </a>
  </li>
  <li class="slot slot--has-event">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot slot--has-event">
    <button class="slot__button button-show-event"></button>
  </li>
</ul>

<ul class="slots__list" data-room-id="4">
  <li class="slot">
    <a class="slot__button button button--blue" href="./create.html">
      <svg class="button__icon">
        <use xlink:href="#plus"/>
      </svg>
    </a>
  </li>
  <li class="slot slot--has-event" style="width: 1%">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot slot--has-event" style="width: 10%">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot">
    <a class="slot__button button button--blue" href="./create.html">
      <svg class="button__icon">
        <use xlink:href="#plus"/>
      </svg>
    </a>
  </li>
  <li class="slot slot--has-event" style="width: 3%">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot">
    <a class="slot__button button button--blue" href="./create.html">
      <svg class="button__icon">
        <use xlink:href="#plus"/>
      </svg>
    </a>
  </li>
  <li class="slot slot--has-event" style="width: 15%">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot">
    <a class="slot__button button button--blue" href="./create.html">
      <svg class="button__icon">
        <use xlink:href="#plus"/>
      </svg>
    </a>
  </li>
  <li class="slot slot--has-event">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot slot--has-event" style="width: 2%">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot">
    <a class="slot__button button button--blue" href="./create.html">
      <svg class="button__icon">
        <use xlink:href="#plus"/>
      </svg>
    </a>
  </li>
  <li class="slot slot--has-event">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot slot--has-event">
    <button class="slot__button button-show-event"></button>
  </li>
  <li class="slot slot--has-event">
    <button class="slot__button button-show-event"></button>
  </li>
</ul>
